@charset "UTF-8";
@import url(style.css.map);
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&family=Roboto:wght@400;500;700&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Lora', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
  background-color: #A6C9FF;
}

header {
  background-color: #B47FF6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  margin: auto;
  height: 148px;
}

@media (max-width: 559px) {
  header {
    display: block;
  }
}

.text {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 45px;
  font-weight: 500;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.menu ul:first-child {
  padding-left: 155.36px;
}

.menu ul:last-child {
  padding-right: 155.36px;
}

.menu a {
  text-decoration: none;
  margin: 37px 61px 0px 0;
}

.menu li:hover {
  font-weight: 700;
  text-decoration: underline;
}

@media (max-width: 740px) {
  .menu ul:first-child {
    padding-left: 55.36px;
  }
}

@media (max-width: 559px) {
  .menu {
    visibility: hidden;
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  top: 75px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 30%;
  top: 0;
  z-index: 100;
}

@media (max-width: 800px) {
  #menu__toggle:checked ~ .menu__box {
    left: 0;
  }
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  z-index: 1;
  margin: 50.38px 55.48px 59.31px 0;
}

@media (max-width: 559px) {
  .menu__btn {
    margin: -63px 10px 0 0;
    z-index: 999999;
  }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 43.37px;
  height: 3px;
  background-color: #FFFFFF;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -12px;
}

.menu__btn > span::after {
  content: '';
  top: 12px;
}

.menu__box {
  left: 100px;
  display: block;
  position: fixed;
  visibility: hidden;
  list-style: none;
  background-color: #A6C9FF;
  border: #00FF4A 1px solid;
}

.menu__box .button__pop-up {
  margin: 35.5px 94.5px 57px;
}

@media (max-width: 529px) {
  .menu__box .button__pop-up {
    margin: 30px 10px 10px;
  }
}

.menu__item {
  display: block;
  padding: 19.5px 64.5px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 529px) {
  .menu__item {
    padding: 0 30px;
  }
}

.menu__item:first-child {
  padding-top: 33px;
}

.h1__block {
  margin: 40px 0 0 0;
  background-color: #7029CB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h1__block h1 {
  padding: 58.25px 32px 72.75px 308.22px;
}

.h1__block .button__pop-up {
  margin-bottom: 15px;
}

@media (max-width: 840px) {
  .h1__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .h1__block h1 {
    padding-left: 0;
  }
}

@media (max-width: 474px) {
  .h1__block {
    display: block;
    text-align: center;
  }
  .h1__block .button__pop-up {
    margin-bottom: 30px;
  }
}

h1 {
  color: #FFFFFF;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.modal {
  position: fixed;
  top: 200px;
  right: -100px;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
  }
}

.modal-content {
  background-color: #A6C9FF;
  color: #FFFFFF;
  width: 400px;
  height: 400px;
}

@media (max-width: 576px) {
  .modal-content {
    width: 300px;
    height: 300px;
    margin-left: 10px;
  }
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.close {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  background-color: #497957;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 15px;
  color: #FFFFFF;
  text-decoration: none;
}

.close:focus, .close:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: .9;
}

.modal-body {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  position: relative;
  padding: 15px;
  padding-top: 110px;
  text-align: center;
}

@media (max-width: 576px) {
  .modal-body {
    font-size: 25px;
    padding-top: 65px;
  }
}

button {
  padding: 15px, 25px;
}

button:hover {
  cursor: pointer;
}

.button__pop-up {
  min-width: 262px;
  min-height: 58px;
  font-size: 24px;
  line-height: 28.13px;
  color: #FFFFFF;
  background-color: #FF4B4B;
  border: none;
  border-radius: 25px;
}

h2 {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  padding: 40px 0 33px 542px;
  left: 62.2988%;
}

@media (max-width: 840px) {
  h2 {
    padding-left: 0;
    text-align: center;
  }
}

.grid__group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.9515fr;
      grid-template-columns: 1fr 1.9515fr;
}

@media (max-width: 840px) {
  .grid__group {
    display: block;
  }
}

.grid__group2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
}

@media (max-width: 840px) {
  .grid__group2 {
    display: block;
  }
}

.frame {
  color: #FFFFFF;
  font-size: 53px;
  line-height: 62.11px;
  margin: 6.5px;
  background-color: #3ADE4B;
  text-align: center;
  padding: 68px 0;
}

.frame1 {
  content: "1";
  visibility: visible;
  margin-left: 0;
}

.frame1::before {
  content: "1";
}

@media (max-width: 840px) {
  .frame1 {
    margin: 10px;
  }
}

.frame2 {
  margin-right: 0;
}

.frame2::before {
  content: "2";
}

@media (max-width: 840px) {
  .frame2 {
    margin: 10px;
  }
}

.frame3 {
  margin-left: 0;
}

.frame3::before {
  content: "3";
}

@media (max-width: 840px) {
  .frame3 {
    margin: 10px;
  }
}

.frame4 {
  margin-right: 0;
}

.frame4::before {
  content: "4";
}

@media (max-width: 840px) {
  .frame4 {
    margin: 10px;
  }
}

.block3 h2 {
  padding-left: 542px;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 840px) {
  .block3 h2 {
    padding-left: 0;
  }
}

.frame13 {
  background-color: #D4FF5A;
  padding: 25px 0;
  margin: 0 25px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .frame13 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 10px;
    padding: 10px 35px 30px 15px;
  }
}

.frame13 .first {
  margin-left: 25px;
}

@media (max-width: 576px) {
  .frame13 .first {
    margin-left: 10px;
  }
}

.frame13 .last {
  margin-right: 25px;
}

@media (max-width: 576px) {
  .frame13 .last {
    margin-right: 0;
  }
}

.frame5 {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 17%;
  background-color: #497957;
  border-radius: 35px;
  border: #00ff4a 2px solid;
  margin: 0px 10px;
}

@media (max-width: 576px) {
  .frame5 {
    padding-top: 100%;
    margin-top: 20px;
  }
}

.frame5:hover {
  -webkit-box-shadow: 2px 5px 10px #497957;
          box-shadow: 2px 5px 10px #497957;
}

.utp__text {
  padding: 39px 0;
  text-align: center;
}

.utp__text .text {
  padding-bottom: 9px;
}

footer {
  background-color: #D87FF6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 840px) {
  footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .text {
    margin: 29px 0;
  }
}

footer .text {
  margin: 27.5px 87.5px;
  line-height: 45px;
  font-size: 28px;
  font-weight: 500;
}

@media (max-width: 840px) {
  footer .text {
    margin: 29px 0;
  }
}

footer p:first-child {
  padding-left: 204.5px;
}

@media (max-width: 840px) {
  footer p:first-child {
    padding-left: 0;
  }
}

footer p:last-child {
  padding-right: 220.5px;
}

@media (max-width: 840px) {
  footer p:last-child {
    padding-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */